/*Gutter Background Color*/
body {
	background-color:black;
	}


/*Format for all divs on page*/
.header, .navbar, .introtext, .container, .footer {
	width:90%;
	margin:auto;
	}

/*format for 3 divs with matching colors*/
.header, .introtext, .footer {
	background-color:#8A2BE2;
	}

/*Header*/
.header {
	height:100px;	
	}

h1 {
   font-family: "Arial Black", Gadget, sans-serif;
   color:white;
   font-size:40px;
   text-align: center;
   padding:30px 0 30px 0;
   }



/*Navigation Bar and Links*/
.navbar {
	background-color: #FF69B4;
	height:30px;	
	padding-top:10px;
   }

ul {
	list-style-type: none;
	}

ul li {
	display: inline-block;
   }

ul li a {
	font-family:"Impact";
	font-size:20px;
	text-decoration: none;
	margin:200px;
	}

ul li a.nav-link {
	color: black;
	}

ul li a.nav-link:visited {
	color:white;
	}


/*Introductory Text Section*/

.introtext {
	height:125px;
	}

/*Formatting for the following will be same for main text*/
h2 {
	font-size:25px;
	font-family:"Arial Black", Gadget, sans-serif;
	color:pink;
	text-align:center;
	}


p 	{
	font-family:"Arial", sans-serif;
	font-size:12px;
	color:white;
	text-align:center;
	}



/*Main Text Section*/

.container {
	height:800px;
	}

.indexcolleft {
	float:left;
	width:50%;
	height:800px;
	background-color:aqua;
	}

.indexcolright {
	float:right;
	width:50%;
	height:800px;
	background-color:blue;
	}

img {
	height:200px;
	display:block;
	margin:auto;}

a {font-family:"Arial Bold"; sans-serif;  
   font-size:10px;
   color:white;
   text-decoration:none;
   }
