/*Gutter Background Color*/
body {
	background-color:black;
	}


/*Format for all divs on pages*/
.header, .navbar, .introtext, .container, .footer, .CatPage, .DinoPage {
	width:90%;
	margin:auto;
	}

/*format for 3 divs with matching colors*/
.header, .introtext, .footer {
	background-color:#8A2BE2;
	}

/*Header*/
.header {
	height:100px;	
	}

h1 {
   font-family: "Arial Black", Gadget, sans-serif;
   color:white;
   font-size:40px;
   text-align: center;
   padding:30px 0 30px 0;
   }



/*Navigation Bar and Links*/
.navbar {
	background-color: #FF69B4;
	height:40px;	
	padding-top:10px;
   }

ul {
	list-style-type: none;
	margin:auto;
	}

ul li {
	display: inline-block;
   }

ul li a {
	font-family:"Impact";
	font-size:20px;
	text-decoration: none;
	}
	
ul li a.nav-link {
	color: black;
	}

ul li a.nav-link:visited {
	color:white;
	}


/*Introductory Text Section*/

.introtext {
	height:160px;
	padding-top:20px;
	}

/*Formatting for the following will be same for main text*/

h2 {
	font-size:25px;
	font-family:"Arial Black", Gadget, sans-serif;
	color:pink;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	}


p 	{
	font-family:"Arial", sans-serif;
	font-size:18px;
	color:white;
	text-align: justify;
	margin:20px;
	}



/*Index Page Main Text Section*/

.container {
	height:600px;
	}

.indexcolleft, .indexcolright {
	width:50%;
	height:600px;
	padding-top:20px;
	}

.indexcolleft {
	float:left;
	background-color:#6495ED;
	}

.indexcolright {
	float:right;
	background-color:blue;
	}

img {
	display:block;
	height:200px;
	margin:auto;
	}

a {font-family:"Arial", sans-serif;
   font-size:15px;
   color:black;
   text-decoration:none;
   margin-left:20px;
   }



/*Footer with buttons*/

.footer {
	height:80px;
   }

.button {
  border-radius:5px;
  background-color:purple;
  height:30px;
  width:100px; 
  padding:5px;
  margin:10px 100px 10px 200px;
  display: inline-block;
  	}

 .button:visited {
 	background-color:black;
  	}

.button a {
  margin-top:10px;
  margin-left:10px;
  color:white;
  }


/*Cat and Dino Pages Main Section Format*/

.CatPage {
	background-color:#6495ED;
	height:400px;
	}

.CatPage img {
	float:left;
	margin:20px;
	}

