/*Gutter Background Color*/
body {
	background-color:black;
	}


/*Format for all divs on page*/
.header, .navbar, .introtext, .container, .footer {
	width:90%;
	margin:auto;
	}

/*format for 3 divs with matching colors*/
.header, .introtext, .footer {
	background-color:#8A2BE2;
	}

/*Header*/
.header {
	height:100px;	
	}

h1 {
   font-family: "Arial Black", Gadget, sans-serif;
   color:white;
   font-size:40px;
   text-align: center;
   padding:30px 0 30px 0;
   }



/*Navigation Bar and Links*/
.navbar {
	background-color: #FF69B4;
	height:30px;	
	padding-top:10px;
   }

ul {
	list-style-type: none;
	margin:auto;
	}

ul li {
	display: inline-block;
   }

ul li a {
	font-family:"Impact";
	font-size:20px;
	text-decoration: none;
	padding:225px;
	}
	
ul li a.nav-link {
	color: black;
	}

ul li a.nav-link:visited {
	color:white;
	}


/*Introductory Text Section*/

.introtext {
	height:160px;
	padding-top:20px;
	}

/*Formatting for the following will be same for main text*/

h2 {
	font-size:25px;
	font-family:"Arial Black", Gadget, sans-serif;
	color:pink;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	}


p 	{
	font-family:"Arial", sans-serif;
	font-size:18px;
	color:white;
	text-align: justify;
	margin:20px;
	}



/*Main Text Section*/

.container {
	height:600px;
	}

.indexcolleft, .indexcolright {
	width:50%;
	height:600px;
	padding-top:20px;
	}

.indexcolleft {
	float:left;
	background-color:#6495ED;
	}

.indexcolright {
	float:right;
	background-color:blue;
	}

img {
	display:block;
	height:200px;
	margin:auto;
	}

a {font-family:"Arial", sans-serif;
   font-size:15px;
   font-style:italic;
   color:black;
   text-decoration:none;
   margin-left:20px;
   }



/*Footer*/

.footer {
	height:60px;
	}
